{% macro requi(name, alt_name, title, description, og_title, og_description, twitter_title, twitter_description) -%}
    <title>{{ name + ": " + title if name|length > 0 else title }}</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ og_title }}" />
    <meta property="og:description" content="{{ og_description }}" />
    <meta name="twitter:title" content="{{ twitter_title }}" />
    <meta name="twitter:description" content="{{ twitter_description }}" />
{% endmacro -%}

{% macro json_meta(metadata) -%}
    {% if metadata -%}
    <script type="application/ld+json">
    {{ metadata | tojson }}
    </script>
    {% endif -%}
{% endmacro -%}

{% macro more_locales(request, locale) -%}
{% for l in available_locales if l != locale -%}
    {% set new_url = request.url_for("root").__str__() + l %}
    {% if request.url.path.startswith('/' + locale + '/') %}
        {% set new_url = request.url.path.replace('/' + locale, '/' + l, 1) %}
    {% endif %}
    <a href="{{ new_url }}">{{ locale_names[l][locale] }}</a>
    {% if not loop.last %}, {% endif %}
{% endfor -%}
{% endmacro -%}
